    .user_card {
        height: 400px;
        width: 350px;
        margin-top: auto;
        margin-bottom: auto;
        background: #004296;
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 5px;

    }
    .brand_logo_container {
        position: absolute;
        height: 170px;
        width: 170px;
        top: -75px;
        border-radius: 50%;
        background: #fff;
        padding: 10px;
        text-align: center;
    }
    .brand_logo {
        height: 150px;
        width: 150px;
        border-radius: 50%;
        border: 2px solid #000000;
        padding: 12px;
    }
    .form_container {
        margin-top: 100px;
    }
    .ingresar_btn {
        width: 100%;
        background: #000000  !important;
        color: white !important;
    }
    .ingresar_btn:focus {
        box-shadow: none !important;
        outline: 0px !important;
    }
    .ingresar_container {
        padding: 0 2rem;
    }
    .input-group-text {
        background: #000000  !important;
        color: white !important;
        border: 0 !important;
        border-radius: 0.25rem 0 0 0.25rem !important;
    }
    .input_user,
    .input_pass:focus {
        box-shadow: none !important;
        outline: 0px !important;
    }
    .custom-checkbox .custom-control-input:checked~.custom-control-label::before {
        background-color: #c0392b !important;
    }

    .contenedor-de-ingreso {
        margin-top: 150px;
    }

    .titulo-home{
        color: #ffffff;
        padding: 7px;
    }

    .texto-bienvenida{
        color: #ffffff;
        margin:auto;
        margin-bottom: 10%;
    }