<div class="container h-100 contenedor-de-ingreso">
  <div class="d-flex justify-content-center h-100">
    <div class="user_card">
      <div class="d-flex justify-content-center">
        <div class="brand_logo_container">
          <img src="https://www.unmejorempleo.com/logos/Darwoft.jpg" class="brand_logo" alt="Darwoft">
        </div>
      </div>
      <div class="d-flex justify-content-center form_container">
        <form>
          <div class="input-group mb-3">
              <h4 class="titulo-home">Test-Desarrollador Front-end</h4>
            <span class="texto-bienvenida">Minesweepers</span>
            <span class="texto-bienvenida">(Ayrton Toffolleto)</span>
            <button type="button" name="button" class="btn ingresar_btn" [routerLink]="['/game']">Ingresar</button>
          </div>
            <div class="d-flex justify-content-center mt-3 ingresar_container">
        </div>
        </form>
      </div>
    </div>
  </div>
</div>