<div @fade class="row">
  <button type="button" class="btn btn-info btn-back-home" [routerLink]="['/home']"><i class="fa fa-home"></i></button>
  <h1 class="titulo-juego">Bienvenido a minesweepers</h1>
</div>
<div @fade class="container contenedor-game">
  <div class="row menu-game">
    <div class="col">
      <button type="button" class="btn btn-success" (click)="EmpezarJuegoDificultadSeleccionada()">Empezar de Nuevo</button>
      <select (ngModel)="opcionSeleccionado" (change)="obtenerDificultadIndexCbo($event.target.value)" class="btn btn-info dropdown-toggle combo-dificultad">
          <option *ngFor="let nivel of niveles;" [value]="nivel.name">
            {{nivel.name}}
          </option>
      </select>
    </div>
    <div class="col">
      <i class="fa fa-flag icon-menu flag-count"></i> <strong class="contador-flags">{{contador}}</strong>
    </div>
    <div class="col">
      <i class="fa fa-hourglass-start icon-menu reloj"></i> <strong class="contador-flags">{{time}}</strong>
    </div>
  </div>

  <div  @fade class="alert  alerta" [ngClass]="{'alert-danger': gameover, 'alert-success': victoria}"  role="alert" *ngIf="juegoTerminado"> 
    {{textoAlert}}
  </div>

  <table class="table-striped table-minesweepers">
    <tr *ngFor="let row of board.cells; index as y">
      <td id="celda"
        *ngFor="let cell of row; index as x"
        (click)="verificarEstadoCelda(cell)"
        (contextmenu)="$event.preventDefault(); colocarFlag(cell)"
      >
        <div class="valor-celda" *ngIf="cell.status === 'clear' && !cell.mine">{{ cell.proximityMines }}</div>
        <div class="valor-celda-flag" *ngIf="cell.status === 'flag'">
          <i class="fa fa-flag"></i>
        </div>
        <div class="valor-celda-bomb" *ngIf="cell.mine && cell.status === 'clear'">
          <i class="fa fa-bomb" title="Edit"></i>
        </div>
      </td>
    </tr>
  </table>
</div>

<div @fade class="container  table-result-container">
  <div class="row">
      <h3 class="title-result">Resultado de partidas jugadas</h3>
  </div>
  <table id="resultado-partidas">
    <tr>
      <th>Dificultad</th>
      <th>Banderas utilizadas <i class="fa fa-flag"></i></th>
      <th>Tiempo de juego  <i class="fa fa-hourglass-start"></i></th>
      <th>Estado partida</th>
    </tr>
    <tr *ngFor="let resultado of resultadosJuego;">
      <td>{{resultado.difficulty}}</td>
      <td>{{resultado.flagsUse}}</td>
      <td>{{resultado.timeUse}}</td>
      <td>{{resultado.statusGame}}</td>
    </tr>
  </table>
</div>
