.table-minesweepers{
    margin:auto;
    margin-top:5%;
}

.table-minesweepers,
td {
  border: 1px solid #070606;
  border-collapse: collapse;
}
td {
  width:32px;
  height:32px;
}

.menu-game{
  border-bottom: 1px solid black;
  padding: 8px;
}

.contenedor-game{
  border: 1px solid black;
  padding-bottom: 45px;
  margin-top: 5%;
}

.col{
  text-align: center;
}

.icon-menu{
  font-size: 2rem;
  line-height: 35px;
}

.contador-flags{
  padding: 20px;
  font-size: 25px;
}

.reloj{
  color: red;
}

.flag-count{
  color: green;
}

.valor-celda{
  text-align: center;
  background-color: #969b97;
  color: #ffffff;
}

#celda{
  text-align: center;
  background-color: #828a84;
  color: #ffffff;
}

.valor-celda-bomb{
  text-align: center;
  background-color: red;
  color: #ffffff;
}

.valor-celda-flag{
  text-align: center;
  background-color: #17a2b8;
  color: #ffffff;
}

.alerta{
  margin-top: 1%;
  text-align: center;
}

.dropdown{
  margin-left: 1%;
  display: inline-block;
}

.combo-dificultad {
  margin-left: 5%;
}

#resultado-partidas {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#resultado-partidas td, #resultado-partidas th {
  border: 1px solid #ddd;
  padding: 8px;
}

#resultado-partidas tr:nth-child(even){background-color: #f2f2f2;}

#resultado-partidas tr:hover {background-color: #ddd;}

#resultado-partidas th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

.table-result-container{
  margin-top: 5%;
  margin-bottom: 10%;
}

.title-result{
  margin:auto;
  padding: 2%;
}

.btn-back-home{
  margin-left: 2%;
  margin-top: 1%;
}

.titulo-juego{
  margin:auto;
}

#celda:hover{
  background-color: #17a2b8;
  cursor: pointer;
}